body{
}
    /*reducing the logo width*/
    .log img{
        width: 6%;
    }
    .top{
        width: 50%;
        float: right;
    }
    .twi{
        width: 50%;
        height: 600px;
        margin-top: -10px;
        margin-left: -10px;
    }
    /*Styling the header font*/
    h2{
        font-family: calibri;
        font-size: 30px;
        position: relative;
        top: 180px;
        left: 140px;
        font-weight: bold;
    }
    h5{
        font-family: calibri;
        font-size: 20px;
        position: relative;
        top: 180px;
        left: 140px;
        font-weight: bold;
    }
    .log{
        position: relative;
        top: 190px;
        left: 120px;
        margin-left: 20px;
    }
    .log button{
        position: relative;
        top: -10px;
        left: 230px;
        background-color: white;
        border:1px solid #38A1F3;
        border-radius: 25px;
        padding: 10px;
        color: #38A1F3;
    }
    /*Styling the body button*/
    .go button{
        position: relative;
        top: 150px;
        left: 115px;
        background-color: white;
        border:1px solid #38A1F3;
        border-radius: 25px;
        padding: 10px;
        color: #38A1F3;
        width: 55%;
        display: block;
        margin: 15px;
    
    }
     button.blu{
      background-color: #38A1F3;
      color: white;
    }
    button.blu:hover{
        background-color: #0d80d9;
        cursor: pointer;
    }
    .log button:hover{
        background-color:  #e7f4fe;
        cursor: pointer;
    /*Styling the button hovering*/
    }
    button.bl:hover{
        background-color:  #e7f4fe;
        cursor: pointer;
    }

    li,a{
        display: inline;
        text-decoration: none;
        color: grey;
        font-family: calibri;
        padding: 4px;
        font-size: 13px;
        position: relative;
        top: 5px;
    }
    ul{
        background-color: white;
        border-top: 1px solid #efefef;
        margin-left: 100px;

    }
    .go a{
        position: relative;
        top: -30px;
    }
    .log a{
        position: relative;
        top: -2px;
    }